@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}


h2 {
  font-family: 'Courier New', Courier, monospace;
}

.responsive-table {
  width: 100%;
  margin: 20px auto;
  /* border-radius: 1rem; */
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

.responsive-table th {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

/* This gives the stripped look of the even rows */
.responsive-table tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.responsive-table td {
  padding: 0.5rem;
}

/* Make the table responsive */
.responsive-table td:nth-child(1) {
  width: 35vw;
  min-width: 35vw;
}

.responsive-table td:nth-child(n + 2) {
  width: 10vw;
  min-width: 10vw;
}

.responsive-table td:nth-child(3) {
  min-width: 15vw;
  width: 15vw;
}
