@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}


h2 {
  font-family: 'Courier New', Courier, monospace;
}

.responsive-table {
  width: 100%;
  margin: 20px auto;
  /* border-radius: 1rem; */
  border-collapse: collapse;
}

/* This gives the stripped look of the even rows */
.responsive-table tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

.responsive-table th,
.responsive-table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: center;
}

.responsive-table th {
  background-color: #f2f2f2;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

.responsive-table td {
  padding: 1rem;
}


/* Target the columns width */
.head-topic {
  width: 45vw;
}

.head-taught {
  width: 20vw;
}

.head-read {
  width: 25vw;
}

/* Make the table responsive */